#guessed {
	min-height: 100px;
}

.guess {
	display: inline-block;

	margin: 0.25rem;
	padding: 0.5rem;
	height: 3rem;
	width: 3rem;

	font-size: 2rem;
	line-height: 2rem;
	
	background: #6c757d;
	border-radius: 0.1rem;
}

.guess.wrong {
	background: #dc3545;
}

.guess.repeated {
	border: 0.1rem solid #17a2b8;
}