#lives {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	font-size: 130px;
	font-weight: 600;
	opacity: 0.9;
}

@media (max-width: 575.98px) { /* XS only */
	#livesContainer {
		width: 200px;
		margin: 0 auto;
	}
}

@media (min-width: 576px) { /* SM */
	#lives {
		top: 1.5rem;
		font-size: 4rem;
	}
}

@media (min-width: 768px) { /* MD */
	#lives {
		top: 2rem;
		font-size: 6rem;
	}
}

@media (min-width: 992px) { /* LG */
	#lives {
		top: 2rem;
		font-size: 6rem;
	}
}

@media (min-width: 1200px) { /* XL */
	#lives {
		top: 2.5rem;
		font-size: 7rem;
	}
}



#guessed {
	min-height: 100px;
}

#guessed.empty {
	min-height: 0;
}

.guess {
	display: inline-block;

	margin: 0.25rem;
	padding: 0.5rem;
	height: 3rem;
	width: 3rem;

	font-size: 2rem;
	line-height: 2rem;
	
	background: #6c757d;
	border-radius: 0.25rem;
}

.guess.wrong {
	background: #dc3545;
}

.guess.repeated {
	background: #17a2b8;
}